@import 'fonts.css';
/* =================================================== SETTINGS START ========================================== */

:root{
    --f100: 'Raleway Thin';
    --f300: 'Raleway Light';
    --f400: 'Raleway Regular';
    --f700: 'Raleway Bold';
    --f900: 'Raleway Black';
    --f700-roboto: 'Roboto Bold';
    --bg_dark: #060002;
    --white: #fff;
    --logo_bg:#4e9f0d;
    --logo_border: #62be19;
    --logo-shadow: rgba(30, 30, 30, 0.15);
    --opacity-75: rgba(106, 207, 23, 0.75);
    --opacity-90: rgba(106, 207, 23, 0.90);
    --main-color: #69cf17;
    --text-light: #c0c0c0;
    --text-dark: #7a7a7a;
    --text-grey: #dedede; 
    --col-1:calc(100%/12*1);
    --col-2:calc(100%/12*2);
    --col-3:calc(100%/12*3);
    --col-4:calc(100%/12*4);
    --col-5:calc(100%/12*5);
    --col-6:calc(100%/12*6);
    --col-7:calc(100%/12*7);
    --col-8:calc(100%/12*8);
    --col-9:calc(100%/12*9);
    --col-10:calc(100%/12*10);
    --col-11:calc(100%/12*11);
    --col-12:calc(100%/12*12);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--f400);
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /* border: 1px red solid; */
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    /* border: 1px blue solid; */
}
.col-4{
    width: var(--col-4);
    padding: 0 15px;
    /* border: 1px yellow solid; */
}
.col-12{
    width: var(--col-12);
    padding: 0 15px;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
body{
    background: var(--bg_dark);
}
/* =================================================== SETTINGS END ========================================== */

/* =================================================== HEADER START ========================================== */

header{
    height: 780px;
    background: url(../images/bg_img.jpg) no-repeat center /cover;
}
.logo{
    padding: 8px 18px;
    background: var(--logo_bg);
    color: var(--white);
    border: 3px solid var(--logo_border);
    font-size: 24px;
    font-family: var(--f700);
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: inset 5px 5px 5px var(--logo-shadow);
}
nav ul li a{
    color: var(--main-color);
    font-family: var(--f300);
    font-size: 20px;
    padding: 41px 26px 34px;
    display: block;
}
nav ul li a:hover{
    background: var(--opacity-75);
    color: var(--white);
}
nav ul li a span{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--main-color);
    margin-left: 6px;
    display: inline-block;
    background: var(--white);
    text-align: center;
} 
header .container{
    height: 100%;
}
.header-content{
    height: 100%;
}
.header-content h1{
    color: var(--main-color);
    font-family: var(--f900);
    font-size: 72px;
    text-transform: uppercase;
}
.header-content p:nth-child(2){
    font-family: var(--f400);
    font-size: 36px;
    color: var(--main-color);
    text-transform: lowercase;
}
.header-content p:nth-child(3){
    font-family: var(--f400);
    font-size: 18px;
    color: var(--text-grey);
    margin-top: 28px;
    margin-bottom: 75px;
    line-height: 22px;
}
.header-content span{
    display: block;
    padding: 27px 90px;
    background: var(--opacity-75);
    color: var(--white);
    font-family: var(--f300);
    font-size: 60px;
}

/* =================================================== HEADER END ========================================== */

/* =================================================== MAIN START ========================================== */
.main-menu{
    padding: 50px 0 100px;
}
.main-menu ul{
    margin-bottom: 69px;
}
.main-menu ul li a{
    font-family: var(--f700);
    font-size: 20px;
    color: var(--text-dark);
    margin-right: 48px;
}
.main-menu ul li a:hover{
    color: var(--main-color);
}
.burger-img{
position: relative;
display: flex;
}
.burger-img span{
position: absolute;
bottom: 1px;
left: 1px;
font-family: var(--f400);
font-size: 24px;
color: var(--text-grey);
background: var(--opacity-75);
padding: 18px 58px;
line-height: 24px;
}
.burger-img a{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: var(--opacity-90);
display: none;
justify-content: center;
align-items: center;
font-family: var(--f700);
font-size: 24px;
color: var(--white);
}
.burger-img:hover .burger-link{
    display: flex;
}
.burger-img:hover .burger-span{
    display: none;
}
.burger h2{
    text-transform: uppercase;
    font-family: var(--f700);
    font-size: 24px;
    color: var(--main-color);
    margin-top: 31px;
    text-align: left;
    
}
.burger p{
    color: var(--text-grey);
    font-family: var(--f400);
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
}
.burger{
    margin-bottom: 20px;
}
/* =================================================== MAIN END ========================================== */
